<!DOCTYPE html>
<html>
<head>
    <title>Prediction Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        /* Add custom CSS styles here */
        body {
            display: flex;
            flex-direction: column;
            background-color: white;
        }
    </style>
</head>
<body>
    <nav>
        <div id="logo">
            <a href="/"><img id="navbar-logo" src="/static/navbar_logo.png" alt="Navbar logo"></a>
            <a href="/"><h1>ML Classifier</h1></a>
        </div>
        <div id="nav-links">
            <a href="#">Documentation</a>
            <!-- Add more links as needed -->
        </div>
    </nav>
    <h1>Prediction Dashboard</h1>
    <h3>File Name: {{ filename }}</h3>


    <div>
        <table>
            <caption style="text-align: left;">Top 5 Talkers Table</caption>
            <thead>
                <tr>
                    <th>Source IP</th>
                    <th>Destination IP</th>
                    <th>Frequency</th>
                    <th>Most Frequent Traffic</th>
                    <th>Most Frequent App Label</th>
                </tr>
            </thead>
            <tbody>
                {% for talker, data in top_talkers.items() %}
                <tr>
                    <td>{{ talker.split(' -> ')[0] }}</td>
                    <td>{{ talker.split(' -> ')[1] }}</td>
                    <td>{{ data['Frequency'] }}</td>
                    <td>{{ data['Traffic'] }}</td>
                    <td>{{ data['App Label'] }}</td>
                </tr>
                <!-- Add two more rows for most frequent traffic and app label -->
                {% endfor %}
            </tbody>
        </table>
    </div>
<!--    <h2>Top 5 Source IP and Destination IP Combinations</h2>-->
    <div>
        <table>
            <caption style="text-align: left;">Top 5 Source IP and Destination IP Combinations</caption>
            <thead>
                <tr>
                    <th>Source IP</th>
                    <th>Destination IP</th>
                    <th>Frequency</th>
                </tr>
            </thead>
            <tbody>
                {% for combination, count in top_ip_combinations.items() %}
                <tr>
                    <td>{{ combination[0] }}</td>
                    <td>{{ combination[1] }}</td>
                    <td>{{ count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="chartsContainer">
        <div class="chartBox">
            <h2>Traffic Label Distribution</h2>
            <!-- Generate the pie chart using JavaScript -->
            <canvas id="trafficLabelChart" width="500" height="500"></canvas>
        </div>
        <!-- Check if "App Label" data is available and create the pie chart -->
        {% if 'App Label' in data[0] %}
        <div class="chartBox">
            <!-- Add a label for the pie chart -->
            <h2>Application Label Distribution</h2>

            <!-- Generate the pie chart for "Traffic Label" using JavaScript -->
            <canvas id="appLabelChart" width="500" height="500"></canvas>
        </div>
        {% endif %}
    </div>
    <script>
        const data = {{ data|tojson }};
        const trafficLabels = Array.from(new Set(data.map(row => row['Traffic Label'])));
        const trafficLabelCounts = trafficLabels.map(label => data.filter(row => row['Traffic Label'] === label).length);

        const colors = getRandomColors(trafficLabels.length); // Function to generate random colors

        const ctx = document.getElementById('trafficLabelChart').getContext('2d');
        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: trafficLabels,
                datasets: [{
                    data: trafficLabelCounts,
                    backgroundColor: colors,
                    borderWidth: 1,
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Percentage of Rows by Traffic Label',
                },
            },
        });

        {% if 'App Label' in data[0] %}
            const appLabels = Array.from(new Set(data.map(row => row['App Label'])));
            const appLabelCounts = appLabels.map(label => data.filter(row => row['App Label'] === label).length);

            const appLabelChartCtx = document.getElementById('appLabelChart').getContext('2d');
            new Chart(appLabelChartCtx, {
                type: 'pie',
                data: {
                    labels: appLabels,
                    datasets: [{
                        data: appLabelCounts,
                        backgroundColor: getRandomColors(trafficLabels.length),
                        borderWidth: 1,
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'App Label Distribution',
                    },
                },
            });
        {% endif %}

        function getRandomColors(count) {
            const colors = [];
            for (let i = 0; i < count; i++) {
                const color = getRandomColor();
                colors.push(color);
            }
            return colors;
        }

        function getRandomColor() {
            // Generate a random RGB color
            const r = Math.floor(Math.random() * 256);
            const g = Math.floor(Math.random() * 256);
            const b = Math.floor(Math.random() * 256);
            return `rgb(${r}, ${g}, ${b})`;
        }
        const pieChartTitle = document.createElement('h2');
        pieChartTitle.textContent = 'Application Distribution';
        document.getElementById('pieChartContainer').prepend(pieChartTitle);
    </script>
</body>
</html>
