nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0; /* Reduced padding for smaller navbar */
    border-bottom: 2px solid #92A8D1;
}

body {
    background-color: #34568B;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body p {
    font-family: 'Roboto', sans-serif;
}

#logo {
    display: flex;
    align-items: center;
}

#logo a {
    color: white;
    text-decoration: none;
}

#logo h1 {
    margin-left: 10px; /* Shift text to the left */
}

#navbar-logo {
    width: 167px;  /* Reduced size for smaller navbar */
    height: 34px; /* Reduced size for smaller navbar */
    margin-right: 5px; /* Reduced margin for smaller navbar */
    margin-left: 10px;
}

#nav-links {
    display: flex;
    align-items: center;
    margin-right: 15px; /* Adjust this value as per your requirement */
}

#nav-links a {
    color: white;
    text-decoration: none;
}


#top-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20%;
}

#drop-zone.highlight {
    background-color: #666;
}

#drop-zone {
    width: 400px;
    height: 200px;
    padding: 30px;
    border: 2px dashed darkgray;
    color: black;
    text-align: center;
    margin: 10px auto;
    background-color: #34568B;
}

#upload-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

#radioContainer {
    display: flex;
    flex-direction: column; /* Display radio buttons vertically (up and down) */
    margin-top: 10px;
    margin-bottom: 10px; /* Add some spacing between radio buttons and the submit button */
}

#radioContainer input[type="radio"] {
    margin-right: 5px; /* Add some spacing between the radio button and the label */
}

#tableContainer {
    flex: 3;
    height: 100vh; /* Adjust the height of the table container as needed */
    overflow: auto;
}

#pieChartContainer {
    flex: 1; /* Set the flex property to 1 to occupy one-fourth of the available space */
    height: 100vh; /* Adjust the height of the pie chart container as needed */
    width: 25%; /* Limit the width to one-fourth of the available space */
    margin-top: 80px; /* Add some margin to push the content below the fixed nav bar */
}

/* Style the table if desired */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

#chartsContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

.chartBox {
    flex: 1;
    max-width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
